<div class="contacts">
    <div class="header-icon">
        <h1>Contacts</h1>
    </div>
    <div class="grid">
        <mat-card class="input-grid">
            <div class="grid-left-right">
                <mat-list style="width: 100%;">
                    @for (user of users; track user) {
                    <mat-list-item (click)="showUser(user)">
                        <mat-icon matListItemIcon>person</mat-icon>
                        <div matListItemTitle>{{user.name}}</div>
                    </mat-list-item>
                    }
                </mat-list>
            </div>
        </mat-card>

        @if (!editMode && detailView) {
        <mat-card class="input-grid">
            <div class="grid-left-right">
                <div class="title">{{user.name}}</div>
                <div class="text">
                    <b>Angaben gemäß § 5 TMG </b><br><br>
                    Marius Katzer<br>
                    Schachenwaldstr. 20d<br>
                    63456 Hanau<br>
                    <br>
                    <b>Kontakt</b><br><br>
                    Telefon: +49 (0) 151 20 200 86 1<br>
                    E-Mail: contact (at) marius-katzer.com<br>
                    <br>
                    Quelle: https://www.e-recht24.de
                </div>
            </div>
        </mat-card>
        }
        @if (editMode) {
        <mat-card class="input-grid">
            <div class="grid-left-right">
                <mat-form-field>
                    <mat-label>First name</mat-label>
                    <input matInput type="text" name="firstname" placeholder="Enter your first name"
                        [(ngModel)]="user.name" title="Enter your first name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Family name</mat-label>
                    <input matInput type="text" name="familyname" placeholder="Enter your family name"
                        title="Enter your family name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone number</mat-label>
                    <input matInput type="number" name="phone" placeholder="Enter your phone number"
                        title="Enter your phone number">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email adress</mat-label>
                    <input matInput type="email" name="email" placeholder="Change your user email adress"
                        title="Change your user email adress">
                </mat-form-field>
            </div>
        </mat-card>
    }
    </div>
    <div class="header-icon" style="margin-top: 32px;" (click)="addNewContact()">
        @if (addContact) {
            <button mat-raised-button color="primary" class="create-task-button">
                Add contact
            </button>
            }
        @if (!editMode && detailView) {
        <button mat-raised-button color="primary" class="create-task-button">
            Edit
        </button>
        }
        @if (editMode) {
        <button mat-raised-button color="primary" type="submit" class="create-task-button" (click)="saveChanges()">
            Save
        </button>
        <button mat-raised-button color="primary" type="submit" class="create-task-button" (click)="saveChanges()">
            Delete
        </button>
        }
    </div>
</div>