<div class="logo-signup">
  <div>
    <img class="logo-signup-img" style="height: 48px" src="../../assets/img/join.logo-dark.png" />
  </div>
  @if (loginCard) {
  <div class="text-signup" [@fadeInOut]>
    <div class="m-16">Not a Join user?</div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="submit-button"
      (click)="showSignupCard()"
    >
      Sign up
    </button>
  </div>
  }
</div>

@if (loginCard) {
<div class="login-card" [@fadeInOut]>
  <mat-card class="login-card-div">

      <mat-card-header class="m-32">
        <mat-card-title class="login-headline p-32">Log in</mat-card-title>
      </mat-card-header>
      <div class="login-input-fields">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            name="username"
            [(ngModel)]="username"
            required
            placeholder="Please enter your email adress"
            title="Please enter your email adress"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [(ngModel)]="password"
            required
            placeholder="Please enter your password"
            title="Please enter your password"
          />
        </mat-form-field>
      </div>
      <div class="login-input-fields" style="padding: 0px 16px 16px 16px">
        <mat-checkbox class="remember-me" [checked]="rememberMe">Remember me</mat-checkbox>
        <span class="forgot-password-text" (click)="showForgotPasswordCard()"
          >Forgot my password</span
        >
      </div>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="submit-button"
          (click)="login()"
        >
          Login
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="guest-button"
          (click)="guestLogin()"
        >
          Guest Login
        </button>
      </mat-card-actions>
    <div class="warning-message">
      @if (failedLogin) {
      <div>Login failed, please try again!</div>
      }
    </div>
  </mat-card>
</div>
} @if (signupCard) {
<div class="login-card" [@fadeInOut]>
  <mat-card class="login-card-div">
    <mat-icon
      fontIcon="arrow_back"
      (click)="showLoginCard()"
      class="arrow-back-icon"
    ></mat-icon>
    <mat-card-header class="m-32">
      <mat-card-title class="login-headline p-32">Sign up</mat-card-title>
    </mat-card-header>
    <div class="input-grid">
      <div class="grid-left-right">
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input
            matInput
            type="text"
            name="firstname"
            placeholder="Enter your first name"
            title="Enter your first name"
            [(ngModel)]="firstName"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>User name</mat-label>
          <input
            matInput
            type="text"
            name="username"
            placeholder="Change your user name"
            title="Change your user name"
            required
            [(ngModel)]="username"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Color</mat-label>
          <mat-select
            name="color"
            [(ngModel)]="color"
            required
            [ngStyle]="{ color: color }"
          >
            @for (color of colors; track color) {
            <mat-option
              [value]="color.value"
              [ngStyle]="{ 'background-color': color.value }"
              >{{ color.value }}</mat-option
            >
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            placeholder="Enter a password"
            title="Enter a password"
            required
            [(ngModel)]="password"
          />
        </mat-form-field>
      </div>
      <div class="grid-left-right">
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input
            matInput
            type="text"
            name="lastname"
            placeholder="Enter your last name"
            title="Enter your last name"
            [(ngModel)]="lastName"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input
            matInput
            type="tel"
            name="phone"
            placeholder="Enter your phone number"
            title="Enter your phone number"
            [(ngModel)]="phone"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email address</mat-label>
          <input
            matInput
            type="email"
            name="email"
            placeholder="Change your email address"
            title="Change your email address"
            required
            [(ngModel)]="email"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            placeholder="Confirm your password"
            title="Confirm your password"
            required
            [(ngModel)]="confirmPassword"
          />
        </mat-form-field>
      </div>
    </div>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="submit-button"
        (click)="signUp()"
      >
        Sign up
      </button>
    </mat-card-actions>
    <div class="warning-message">
      @if (wrongEntries) {
      <div>Entries are invalid. Please fill out all input fields</div>
      }
      @if (wrongPasswordEntries) {
        <div>Password entries do not match!</div>
        }
      @if (signUpSuccess) {
        <div>Thanks for signing up! You will redirect to login page in 3 seconds ...</div>
        }
    </div>
  </mat-card>
</div>




} @if (forgotPasswordCard) {
<div class="login-card" [@fadeInOut]>
  <mat-card class="login-card-div">
      <mat-icon
        fontIcon="arrow_back"
        (click)="showLoginCard()"
        class="arrow-back-icon"
      ></mat-icon>
      <mat-card-header class="m-32">
        <mat-card-title class="login-headline p-32"
          >I forgot my password</mat-card-title
        >
      </mat-card-header>
      <div class="sub-header">
        Don't worry! Enter your email address to reset your password.
      </div>
      <div class="login-input-fields">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" name="email" [(ngModel)]="email" required />
        </mat-form-field>
      </div>

      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="submit-button"
          (click)="showResetPassword(email)"
        >
          Reset Password
        </button>
      </mat-card-actions>
    <div class="warning-message">
      @if (wrongEmail) {
      <div>Email address doesn't exist</div>
      }
    </div>
  </mat-card>
</div>
} @if (resetPasswordCard) {
  <div class="login-card" [@fadeInOut]>
    <mat-card class="login-card-div">
        <mat-icon
          fontIcon="arrow_back"
          (click)="showLoginCard()"
          class="arrow-back-icon"
        ></mat-icon>
        <mat-card-header class="m-32">
          <mat-card-title class="login-headline p-32"
            >Reset your Password</mat-card-title
          >
        </mat-card-header>
        <div class="sub-header">
          Change your account password
        </div>
        <div class="login-input-fields">
          <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="password" required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required />
          </mat-form-field>
        </div>
  
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="submit-button"
            (click)="resetPassword(email)"
          >
            Reset Password
          </button>
        </mat-card-actions>
      <div class="warning-message">
        @if (wrongPasswordEntries) {
          <div>Password entries do not match!</div>
          }
        @if (resetPasswordSuccess) {
          <div>Changing password succeded! You will redirect to login page in 5 seconds</div>
          }
      </div>
    </mat-card>
  </div>
  }
