<div class="dialog">
    <div class="header-icon">
        <h1>Add Task</h1>
        <mat-icon fontIcon="close" class="numbers-icons" (click)="closeDialog()"></mat-icon>
    </div>
    <div class="input-grid">
        <div class="grid-left">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text" name="title" placeholder="Enter a title" title="Enter a title" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput type="text" name="description" placeholder="Enter a description"
                    title="Enter a description" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select required>
                    @for (food of foods; track food) {
                    <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="grid-right">
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="date" required>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Priority</mat-label>
                <mat-select matNativeControl required>
                    <mat-option value="high">
                        <mat-icon>keyboard_double_arrow_up</mat-icon>
                        High
                    </mat-option>
                    <mat-option value="medium">
                        <mat-icon>density_large</mat-icon>
                        Medium
                    </mat-option>
                    <mat-option value="low">
                        <mat-icon>keyboard_double_arrow_down</mat-icon>
                        Low
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Assigned to</mat-label>
                <mat-select required>
                    @for (user of users; track user) {
                    <mat-option [value]="user.value">{{user.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="header-icon" style="margin-top: 32px;">
        <button mat-raised-button color="primary" type="submit" class="create-task-button">
            Create Task
        </button>
        <button mat-raised-button color="primary" class="cancel-button" (click)="closeDialog()">
            Cancel
        </button>
    </div>
</div>