<div class="about">
    <div class="title">About Join</div>
    <div class="text">
        <b>What is Join?</b><br><br>
        Join is an agile method for evolutionary change management (kanban). This means that the existing process is
        improved in small steps. By making many small changes, the risk of each individual action is reduced.<br>
        <br>
        <b>How to use it</b><br><br>
        1.
        Create a new Task!
        You can choose different categories, assign the task to your colleagues and set a priority.<br>
        2.
        Check the board for the newest status of all tasks and be informed about any kind of progress.<br>
        3.
        See what tasks are already done!<br>
        <br>
    </div>
</div>